html,
body {
  height: 100%;
}

body {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn-unset {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.btn-unset:focus {
  outline: none;
}
